<div class="col-md-6">
	<h2> Employee Details</h2>

	<table class="table table-striped">
	  <thead>
	  <tr>
	    <th class="hidden">Id</th>
	    <th>FirstName</th>
	    <th>LastName</th>
	    <th>Email</th>
	    <th>Action</th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr *ngFor="let employee of employees">
	    <td class="hidden"></td>
	    <td>{{employee.firstname}}</td>
	    <td>{{employee.lastname}}</td>
	    <td>{{employee.email}}</td>
	    <td><button class="btn btn-danger" 
	    	(click)="deleteEmployee(employee)"> Delete Employee</button></td>
	  </tr>
	  </tbody>
	</table>
</div>